<div class="panel panel-default">
    <div class="panel-heading">
        مدیریت
    </div>
    <div class="panel-body list">
        <a href = {% url 'profile' %} {% if active == 'profile' %} class="active" {% endif %}>
پروفایل من
        </a>
        <a href = {% url 'my_reservation' %} {% if active == 'reservation' %} class="active" {% endif %}>
لیست رزروها
        </a>
        <a href = {% url 'my_comments' %} {% if active == 'comments' %} class="active" {% endif %}>
            لیست نظرات
        </a>
    </div>
</div>