{% extends "secondBase.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block menu %}
    {% include 'hotelier/menu.html' with active='add_hotel'%}
{% endblock %}

{% block content %}
    <div class="col-md-7">
        <div class="panel panel-default">
            <div class="panel-heading">
                   افزودن هتل
            </div>
            <div class="panel-body">
                {% include 'form.html' with form=form value="افزودن"%}
            </div>
    </div>
{#    <div class="panel panel-default" ng-controller="AddProduct">#}
{#    <div class="panel-heading">#}
{#        {{ title }}#}
{#    </div>#}
{#    <div class="panel-body">#}
{#        <div class="row">#}
{#            <form role="form" action="." method="post" enctype="multipart/form-data" id="myform">#}
{#            <div class="col-md-7">#}
{#	            {% csrf_token %}#}
{#                {% if form.non_field_errors %}#}
{#                <p class="error">#}
{#		        {% for error in form.non_field_errors %}#}
{#		            {{ error }}#}
{#		        {% endfor %}#}
{#                </p>#}
{#                {% endif %}#}
{#                {% for field in form %}#}
{##}
{#                        <div class="form-group">#}
{#		                   {% bootstrap_field field %}#}
{#		                    {% if field.errors %}#}
{#		                        <p class="error">#}
{#		                        {% for error in field.errors %}#}
{#		                        {{ error }}#}
{#		                        {% endfor %}#}
{#		                        </p>#}
{#		                    {% endif %}#}
{#                        </div>#}
{##}
{#                {% endfor %}#}
{#            </div>#}
{##}
{##}
{#        </form>#}
{#        </div>#}
{#        <hr>#}
{#        <input type="submit" form="myform" class="btn btn-primary" value="افزودن">#}
{#    </div>#}
{% endblock %}