
<div class="panel panel-default">
            <ul class="panel-heading, nav nav-tabs" >

                <li class="active"><a href="#hotel" data-toggle="tab">
                    جستجو هتل
                </a></li>
                <li><a href="#room" data-toggle="tab">
                    جستجو اتاق
                </a></li>
            </ul>
            <div class="panel-body, tab-content">
                <div class="tab-pane fade in active" id="hotel">
                    <div class="container">
                        <div class="row">
                            <form role="form" ng-submit="hotelSearch()" action="/simorgh/search/hotel/" method="get" enctype="multipart/form-data" id="hotelSearch">
                                {% csrf_token %}
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="hotel_name" placeholder="نام هتل">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="city" placeholder="شهر">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>امکانات جانبی:</label>
                                        <div class="checkbox">
                                            <label><input type="checkbox" value="" id="pool"> استخر</label>
                                        </div>
                                        <div class="checkbox">
                                            <label><input type="checkbox" value="" id="breakfast">صبحانه</label>
                                        </div>
                                        <div class="checkbox disabled">
                                            <label><input type="checkbox" value="" id="wifi">  اینترنت  </label>
                                        </div>
                                        <div class="checkbox">
                                            <label><input type="checkbox" value="" id="cafe">کافه و رستوران</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                <div class="form-group">
                                    {% comment %}@declare id="star"{% endcomment %}

                                    <label for="star">ستاره:</label>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <input type="text" class="form-control" id="min_star" placeholder=" از ">
                                        </div>
                                        <div  class="col-md-3">
                                            <input type="text" class="form-control" id="max_star" placeholder=" تا ">
                                        </div>
                                    </div>
                                    <hr/>
                                    <label for="star">امتیاز کاربران:</label>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <input type="text" class="form-control" id="min_point" placeholder=" از ">
                                        </div>
                                        <div  class="col-md-3">
                                            <input type="text" class="form-control" id="max_point" placeholder=" تا ">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </form>
                        </div>
                        <div class="row">
                            <div class="col-md-9"></div>
                            <div class="col-md-1">
                                <button type="submit" form="hotelSearch" class="btn btn-default">جستجو</button>
                            </div>
{#                            <div class="col-md-1">#}
{#                                <button type="submit" class="btn btn-default">همه هتل ها</button>#}
{#                            </div>#}
                        </div>
                        <hr>
                    </div>
                </div>

                <div class="tab-pane fade" id="room">
                    <div class="container">
                        <div class="row">
                            <form ng-submit="roomSearch()" action="/simorgh/search/room" method="post" enctype="multipart/form-data" id="roomSearch">

                                <div class="col-md-3">
                                    <div class="form-group">
                                            <input type="text" class="form-control" id="room_hotel" placeholder="نام هتل">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="room_city" placeholder="شهر">
                                    </div>
                                    <hr/>
                                    <div class="form-group" class="col-md-1">
                                        <label for="star">ستاره:</label>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <input type="text" class="form-control" id="room_min_star" placeholder=" از ">
                                            </div>
                                            <div  class="col-md-3">
                                                <input type="text" class="form-control" id="room_max_star" placeholder=" تا ">
                                            </div>
                                        </div>
                                        <hr/>
                                        <label for="star">امتیاز کاربران:</label>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <input type="text" class="form-control" id="room_min_point" placeholder=" از ">
                                            </div>
                                            <div  class="col-md-3">
                                                <input type="text" class="form-control" id="room_max_point" placeholder=" تا ">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>امکانات جانبی:</label>
                                        <div class="checkbox">
                                            <label><input type="checkbox" value="" id="room_pool"> استخر</label>
                                        </div>
                                        <div class="checkbox">
                                            <label><input type="checkbox" value="" id="room_breakfast">صبحانه</label>
                                        </div>
                                        <div class="checkbox disabled">
                                            <label><input type="checkbox" value="" id="room_wifi">  اینترنت  </label>
                                        </div>
                                        <div class="checkbox">
                                            <label><input type="checkbox" value="" id="room_cafe">کافه و رستوران</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <!--
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="area" placeholder="حداقل متراژ اتاق : متر">
                                    </div>
                                    -->
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="capacity" placeholder="حداقل ظرفیت اتاق : نفر">
                                    </div>

                                    <div class="form-group">
                                        <input type="text" class="form-control" id="cost" placeholder=" حداکثر قیمت اتاق: ریال ">
                                    </div>

                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>امکانات جانبی اتاق:</label>
                                        <div class="checkbox">
                                            <label><input type="checkbox" value="" id="tv"> تلوزیون</label>
                                        </div>

                                        <div class="checkbox disabled">
                                            <label><input type="checkbox" value="" id="lake"> منظره ساحل  </label>
                                        </div>
                                        <div class="checkbox disabled">
                                            <label><input type="checkbox" value="" id="kitchen"> آشپزخانه</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-9"></div>
                                    <div class="col-md-1">
                                        <button type="submit" class="btn btn-default">جستجو</button>
                                    </div>
                                    {#                                <div class="col-md-1">#}
                                    {#                                    <button class="btn btn-default">نمایش همه اتاقها</button>#}
                                    {#                                </div>#}
                                </div>
                            </form>

                         </div>
                        <hr>
                    </div>
                </div>

            </div>
        </div>