{% extends "base.html" %}

{% block body %}
    <html>
         <head>
             <meta charset="UTF-8">
             <title>تماس با ما</title>
         </head>
         <body>
         <div class="panel panel-default ">
             <div class="panel-heading" >
                 درباره ما
             </div>
             <div class="panel-body">
                 <div class="row">
                     <div class="col-md-1"></div>
                     <div class="col-md-10">
گروه سیمرغ، با هدف بهبود کیفیت هتلداری در کشور، در سال ۱۳۹۳ آغاز به کار کرد. در این سامانه هتلداران میتوانند با ثبت اطلاعات هتلهای خود، برای مسافران این
                         امکان را ایجاد کنند که به راحتی و با مشاهده دقیق امکانات اتاقها و هتلها، اتاق مورد نظر خود را یافته و رزرو نمایند.
                     </div>
                     <div class="col-md-1">
                     </div>
                 </div>
                <br/>
                 <div class="row">
                     <div class="col-md-1"></div>
                     <div class="col-md-10">
                         برای آشنایی با نحوه کار با سایت سیمرغ میتوانید راهنمای کاربری سایت را از لینکهای زیر دریافت کنید.
                         <br/>
                         <div class="row">
                             <div class="col-md-8"></div>
                             <div class="col-md-2">
                                 <a href="#">راهنمای هتلداران </a>
                             </div>

                             <div class="col-md-2">
                                 <a href="#">راهنمای مسافران</a>
                             </div>
                         </div>
                     </div>
                     <div class="col-md-1">
                     </div>
                 </div>
                 <hr/>
             </div>
         </div>
         </body>
    </html>
{% endblock %}