{% extends "base.html" %}

{% block body %}
    <html>
         <head>
             <meta charset="UTF-8">
             <title>تماس با ما</title>
         </head>
         <body>
         <div class="panel panel-default ">
             <div class="panel-heading" >
                 تماس با ما
             </div>
             <div class="panel-body">
                 <div class="row">
                     <div class="col-md-1"></div>
                     <div class="col-md-2">
                         <label>
        پست الکترونیک:
                         </label>
                     </div>
                     <div class="col-md-5">
                         <label type="email">
                             <a href="mailto:simorgh1393tahlil@gmail.com">simorgh1393tahlil@gmail.com</a>
                         </label>
                     </div>
                 </div>
                 <hr/>
                 <div class="row">
                     <div class="col-md-1"></div>
                     <div class="col-md-10">
                         <label >
                             آدرس: تهران، خیابان آزادی، دانشگاه صنعتی شریف، دانشکده مهندسی کامپیوتر
                         </label>
                     </div>
                 </div>
                 <hr/>

             </div>
         </div>
         </body>
    </html>
{% endblock %}